@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Shoes are an important accesory to everyday life, and having a collection of different shoes is important because you wear different shoes for different reasons.</p>
<h4>Attributes</h4>
<ul>
    <li> Price (required)</li>
    <li> Color (required)</li>
    <li> Brand (required)</li>
    <li> Season </li>
    <li> Material </li>
    <li> Heel Height </li>
</ul>
<h4>Types </h4>
<ul>
    <li>Pumps </li>
    <li>Wedges </li>
    <li>Sandals </li>
    <li>Boots </li>
    <li>Sneakers </li>
    <li>Slippers </li>
</ul>
<h4>Categories </h4>
<ul>
    <li>Formal </li>
    <li>Casual </li>
    <li>Colorful </li>
    <li>Neutral </li>
    <li>Laced </li>
    <li>Strappy </li>
    <li>Soft </li>
    <li>Hard </li>
    <li>Open Toed </li>
    <li>Knee High </li>
    <li>Ankle High </li>
    <li>Shiny </li>
    <li>Glittery </li>
</ul>

