@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9133 Harlequin Cir<br />
    Frederick, CO<br />
    <abbr title="Phone">P:</abbr>
    303-532-9466
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kreid3@uwyo.edu">kreid3@uwyo.edu</a><br />
</address>